{% macro team_matches_table(team) -%}
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Opponent</th>
        <th>Opponent Record</th>
        <th>Result</th>
        <th>Possession</th>
      </tr>
    </thead>
    <tbody>
      {% for match in team['PastMatches'] %}
        <tr>
          <td>{{ match['Date'] }}</td>
          <td>{{ match['Opponent'] }}</td>
          <td>{{ match['OppRecord'] }}</td>
          <td>{{ match['Result'] }} ({{ match['GlsFor'] }}-{{ match['GlsAgainst'] }}) </td>
          <td>{{ match['Possession'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro -%}
