{% extends 'base.html' %}
{% from 'daily_matchup.html' import matchup_view as daily_matchup_macro %}
{% from 'team_last_x_matches_table.html' import team_matches_table as team_table_macro %}
{% from 'match_player_stats.html' import match_player_table as player_table_macro %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/view_analysis.css') }}">
{% endblock%}

{% block body %}
<h1>Matches Today:</h1>
{% for match in todays_matches %}
    {{ daily_matchup_macro(match) }}
{% endfor %}
<br><hr><br>
{% for match in todays_matches %}
    <h1>{{ match['AwayTeam']['Name'] }} at {{ match['HomeTeam']['Name'] }}</h1>
    <h2> {{ match['HomeTeam']['Name'] }} Last 10:</h2>
    {{ team_table_macro(match['HomeTeam']) }}
    <h2> {{ match['AwayTeam']['Name'] }} Last 10:</h2>
    {{ team_table_macro(match['AwayTeam']) }}
    <h2>{{ match['HomeTeam']['Name'] }} Stats in Last 10:</h2>
    {{ player_table_macro(match['HomeTeam']) }}
    <h2>{{ match['AwayTeam']['Name'] }} Stats in Last 10:</h2>
    {{ player_table_macro(match['AwayTeam']) }}
    
    <br><hr><br>
{% endfor %}

{% endblock%}
