{% extends 'base.html' %}
{% from 'team_last_x_matches_table.html' import team_matches_table as team_table_macro %}
{% from 'match_player_stats.html' import match_player_table as player_table_macro %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/view_analysis.css') }}">
{% endblock%}

{% block body %}
{% for todays_match in analysis['Matches'] %}
    <h1>Home: {{ todays_match['HomeTeam']['Name'] }}</h1>
    <h2> Team Last 10:</h2>
    {{ team_table_macro(10, todays_match['HomeTeam']) }}
    <h2>Players Last 10:</h2>
    {{ player_table_macro(10, todays_match['HomeTeam']) }}

    <h1>Away: {{ todays_match['AwayTeam']['Name'] }}</h1>
    <h2>Last 10:</h2>
    {{ team_table_macro(10, todays_match['AwayTeam']) }}
    <h2>Players Last 10:</h2>
    {{ player_table_macro(10, todays_match['AwayTeam']) }}
    
    <br><hr><br>
{% endfor %}

{% endblock%}
